html,
body {
  margin: 0px;
  padding: 0px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

path {
  stroke-width: 5;
}
#No\ City{
  fill: rgba(255, 0, 0, 0.096);
}

#polygonStats {
  padding:5px;
}

#tooltip {
  background-color: rgba(0, 0, 0, 0.651);
  color: #fff;
  text-align: left;
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: black;
}