html,
body {
  margin: 0px;
  padding: 0px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
path {
  stroke-width: 1;
  pointer-events: all;
}
polygon:onHover{
  cursor: pointer;
  fill: red !important;
  stroke: #ff0000 ;
  stroke-width: 2px;
}
#No\ City{
  fill: rgba(255, 0, 0, 0.096);
}
